/bin
/build
/demo/build
/demo/src/main/libs
/demo/src/main/obj
/demo/demo-release.apk
/library/build
/library/src/main/libs
/library/src/main/obj
/obj
/libs
/gen
.DS_Store
.externalToolBuilders
.gradle
.signing/
.idea/libraries/
.idea/inspectionProfiles/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/runConfigurations.xml
*.iml
local.properties
